<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# SQL1 : SQL Command Line


---

<a name="connecting-to-localdb"></a>
## Connecting to a Local Database

---


Let's start by connecting to a local _SQLite_ database.

<a id='sqlite'></a>

### SQLite

**[SQLite](https://sqlite.org/)** is a database software package built on the Structured Query Language [(SQL)](http://www.tutorialspoint.com/sql/). It is similar to other SQL databases, such as [PostgreSQL](http://www.postgresql.org/), [MySQL](https://www.mysql.com/), Oracle, and Microsoft SQL Server, except it is *file-based* rather than *server-based*. This makes it easy to set up and use for small projects but less suitable for production environments. Once you are familiar with SQLite, the same ideas and similar syntax can be applied to other SQL databases.

Version 3 of SQLite is bundled with most Python distributions (including our Anaconda distribution).

<a id='interacting-sqlite'></a>

### Interacting with SQLite

There are multiple ways of interacting with an SQLite database, including:

1. SQLite command line utility
2. Python's `sqlite3` package
3. `pandas`' SQL Interface
4. High-level ORMs (object relational mappings) (e.g., SQLAlchemy, Django ORM, etc.)

Let's start with the first method. All of these methods provide some form of wrapper, or set of convenience functions, for interacting with SQLite. Behind the scenes, the Structured Query Language (SQL) itself defines the interface to the database software. This underlying SQL syntax will be visible to a greater or lesser degree, depending on the method chosen.

<a id='command-patterns'></a>

### Common SQL Command Patterns

The SQL command set has a rich syntax with numerous options, but most of the commonly used commands follow a few simple patterns. A basic familiarity of these patterns is helpful when working in SQL:

```SQL    
CREATE TABLE ...
ALTER TABLE ... ADD COLUMN ...
INSERT INTO ... VALUES ...
UPDATE ... SET ... WHERE ...
SELECT ... FROM ... WHERE ...
SELECT ... FROM ... JOIN ... ON ...
DELETE FROM ... WHERE ...


SELECT - extracts data from a database
UPDATE - updates data in a database
DELETE - deletes data from a database
INSERT INTO - inserts new data into a database
CREATE DATABASE - creates a new database
ALTER DATABASE - modifies a database
CREATE TABLE - creates a new table
ALTER TABLE - modifies a table
DROP TABLE - deletes a table
CREATE INDEX - creates an index (search key)
DROP INDEX - deletes an index
```

<a id='sqlite-command-line'></a>

### SQLite Command Line Utility

The first method we'll explore is connecting to SQLite via the built-in [command line utility](https://www.sqlite.org/sqlite.html).  

> Note: The commands in this section should be executed within your normal terminal shell.

To start a new session of the interpreter, simply open your terminal and type `sqlite3`, followed by the name of the database file. If the file does not yet exist, SQLite will create it.

```bash
$ sqlite3 test1.sqlite

SQLite version 3.13.0 2016-05-18 10:57:30
Enter ".help" for usage hints.
sqlite>
```
    
Notice that your terminal prompt changes to `sqlite>`, indicating that you are now entering commands into the SQLite command line utility. Take a quick look at the `help` command:

```bash
sqlite> .help
```

Display the current databases — you should see the new file `test1.db`:

    sqlite> .databases
    
In order to execute an SQL statement, you will need to use the semicolon syntax (';') to designate the end of a statement. The statement below used to appear when initiating older versions of SQLite3 in terminal.
    
    "Enter SQL statements terminated with a ';'."

<a id='sqlite-tables-columns'></a>

### Creating Tables and Adding Columns

Create a table called `table1` with a single column, `field1`, containing an INTEGER PRIMARY KEY.

```SQL
CREATE TABLE table1 (field1 INTEGER PRIMARY KEY);
```

Add a few more columns to `table1`.

```SQL
ALTER TABLE table1 ADD COLUMN field2 VARCHAR(16);
ALTER TABLE table1 ADD COLUMN field3 REAL;
ALTER TABLE table1 ADD COLUMN field4 TEXT;
```

Notice the different field types in the ALTER TABLE commands. SQLite supports several different [field types](https://www.sqlite.org/datatype3.html), including INTEGERS, variable length character fields, or VARCHAR (with a max length), TEXT fields, and 'REALS,' which are used to store floating point numbers.

Next, verify that the table was created.

    sqlite> .tables

You can check the schema of the table using `.schema`, which shows the commands that would be necessary to create the database tables from scratch.  

    sqlite> .schema

Notice that, in this case, our `table1` could have been created with a single command rather than by adding each column individually.

<a id='adding-data'></a>

### Adding data

Let's add some data:

```SQL
INSERT INTO table1 VALUES (1, 'Henry James', 42, '75 Mission Street, San Francisco, CA');
INSERT INTO table1 VALUES (2, 'Carol James', 40, '75 Mission Street, San Francisco, CA');
INSERT INTO table1 VALUES (3, 'Jesse James', 12, '75 Mission Street, San Francisco, CA');
```

Notice that the first column has unique values — this is a requirement for the PRIMARY KEY (PK) column. If we try to add a record using an existing PK value, we'll get an error.

```SQL
INSERT INTO table1 VALUES (3, 'Julie James', 10, '75 Mission Street, San Francisco, CA');
```

    Error: UNIQUE constraint failed: table1.field1

Fortunately, SQLite has some built-in functionality to auto-increment the PK value — just set the value of the PK field to NULL while running the INSERT command, and it will automatically be set to a valid value.

```SQL
INSERT INTO table1 VALUES (NULL, 'Julie James', 10, '75 Mission Street, San Francisco, CA');
```

Notice that the value in `field1` for the "Julie James" record has been automatically set to 4.

To check the content of the table, use

```SQL
SELECT * FROM table1;
```

<a id='updating-records'></a>

### Updating Records

Suppose we need to update an existing record with new data — e.g., maybe Julie James is 9. For this, we use the UPDATE command.

```SQL
UPDATE table1 SET field3=9 WHERE field1=4;
```

<a id='removing-records'></a>
### Removing Records

To remove records, use the DELETE command.

```SQL
DELETE FROM table1 WHERE field2 like '%Jesse%';
```

**Verify that the "Jesse James" record has been removed.** 

### Exiting the SQLite command line

To exit the SQLite interpreter, type `.exit`.

```SQL
.exit
```

<a id='resources'></a>

## Additional Resources 

---

- [SQLite3's website](http://www.sqlite.org)  
- [SQLite — Python tutorial](http://sebastianraschka.com/Articles/2014_sqlite_in_python_tutorial.html)  
- [SQL Zoo](http://www.sqlzoo.net)